body {
    display: flex;
    flex-direction: column;     
}
#words {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#list {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    color:black;
    text-align: center;
    font-size: 40px;
    margin: auto;
    width: 50%;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#name {
text-align: center;
padding: 20px
}
#story-question {
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}
#button-choices {
    display: none;
    text-align: center;
}
#mt-doom {
    display: none
}
#jungle-of-death {
    display: none
}
#shadowy {
    display: flex;
    margin-left: auto;
    margin-right: 160px;
    width: 15%;
    animation-name: floating;
    margin-top: -250px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes floating {
        0% { transform: translate(0 ,0px); }
        50% { transform: translate(0, 15px); }
        100%  { transform: translate(0, -0px); }
}
#mt-doom-question {
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}
#button-choices-two {
    display: none;
    text-align: center;
    padding: 50px
}
#jungle-question {
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}
#button-choices-three {
    display: none;
    text-align: center;
    padding: 50px
}
#frozen {
    display: none;
    text-align: center;
    animation: floating;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    }
    
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#mt-doom-frozen {
    display: none;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#bear-attack {
    display: none
}
#next-button {
    display: none;
    text-align: center;
    padding: 50px
}
#proceed-button {
    display: none;
    text-align: center;
    padding: 50px
}
#mt-doom-guide {
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}
#tiger-attack {
    display: none;
    text-align: center;
}
#tiger-outcome {
    display: none;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#monkeys {
    display: none
}
#monkeys-outcome {
    display: none;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#second-shadow {
    text-align: center;
    display: none;
    animation-name: floating;
    margin-top: 200px;
    width: 10%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes floating {
        0% { transform: translate(0 ,0px); }
        50% { transform: translate(0, 15px); }
        100%  { transform: translate(0, -0px); }
}
#button-choices-four {
    display: none;
    text-align: center;
    padding: 100px
}
#scary-sea {
    display: none;
    text-align: center;
}
#sea-question {
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px
}
#button-choices-five {
    display: none;
    text-align: center;
    padding: 50px
}
#shark-attack {
    display: none;
    text-align: center;
}
#yacht-outcome {
    display: none;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#bass {
    animation-direction: alternate;
    display: none;
    background-image: center;
    animation-name: bounce;
    margin-top: 100px;
    width: 10%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
        40% {transform: translateY(-30px);} 
        60% {transform: translateY(-15px);} 
} 
 #fishing-outcome {
    display: none;
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#continue-button {
    display: none;
    text-align: center;
    padding: 25px
}